<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>

    <form action="login" method="post">
        <div>
            <h3>Login</h3>
        </div>
        <div>
            <label for="username">Enter username</label>
            <input id="Iusername" type="text" name="username">
        </div>
        <div>
            <label for="password">Enter password</label>
            <input id="Ipassword" type="password" name="password">
        </div>
        <input type="submit" value="Login">
    </form>
    <p>
        <%= message %>
    </p>

</body>

</html>